.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-select {
    display: flex;
    flex-direction: row;

}


.comments-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
}


.form-userinfo {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 20%;
        margin: 5px;
        font-weight: bold;
        text-align: left;
}

.form-userinfo input {
    margin: 2px 0 10px 0;
}

.select-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 165, 0, 0.82);
    margin: 10px;
    width: 300px;
    height: 230px;
    padding: 10px;
    transition: transform 330ms ease-in-out;

}

.select-form:hover {
    transform: scale(1.04);
}

.select-form button {
    justify-self: end;
}

.select-form h3 {
    font-size: 22px;
}

button {
    width: max-content;
    margin: 5px 5px 5px 5px;
    align-self: center;
    border: 1px solid gray;
    padding: 5px 20px;
    transition: transform 330ms ease-in-out;
}


.button-link {
    background: none;
    border: none;
    padding: 0;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}


input {
    margin-bottom: 5px;
    width: 100%;
    align-self: center;
}


#description {
    height: 100px;
    width: 100%;
}

#price {
    width: 70px;
}

.create-dates {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.date-create {
    width: 40%;
}

a {
    color: black;
    align-self: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.start-link {
    background-color: #FFA500D0;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    margin: 20px 10px 20px 10px;
}

.start-link:hover {
    color: black;
}


h3 {
    text-align: center;
    font-size: 22px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}


.back {
    padding-left: 40px;
    margin-bottom: 10px;
}


.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.container-row form {
    margin: 0 2px;
}

.box {
    align-self: center;
    margin: 0 20px 5px 20px;
    padding: 10px;
    border: 1px solid black;
    width: 60%;
    display: flex;
    justify-content: space-between;

}

.apartment-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px 20px 5px 20px;
    padding: 10px;
    align-content: center;
}

.apartment-card button {
    margin: 5px;
}



.image-large {
    width: 380px;
    height: 200px;
    background-color: cornflowerblue;
    align-self: center;
    margin-bottom: 20px;
}

.description {
    align-self: center;
    width: 70%;
}

.name-surname {
    font-weight: bold;
}

.comment {
    border: 1px solid orange;
    margin-bottom: 10px;
    padding: 10px;
}

.comment-add {
    width: 50%;
}

textarea {
    width: 60%;
    height: 80px;
}

.price-a {
    font-size: 30px;
    margin: 0 5px 0 30px;
    align-self: end;
}

.logout {
    display: flex;
    justify-content: end;
    padding-right: 40px;
    margin-bottom: 10px;
}


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.link-small {
    font-size: 12px;
}