{{ include('header.html') }}
<a href="/select">Back</a>
<div class="container">
    <h3>Select Dates:</h3>
    <form method="post" action="/dates/search" style="display: flex; flex-direction: column; width:40%">
        <label>Check-in date:</label>
        <input type="date" name="selected_from">
        <label>Check-out date:</label>
        <input type="date" name="selected_to">
        <button type="submit" name="submit">Search</button>

    </form>

</div>

<style>
    .container{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    h3 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 10%;
        text-align: center;
    }

    input {
        margin-bottom: 10px;
        width: 40%;
        align-self: center;
    }

    button {
        width: 30%;
        align-self: center;
    }
</style>