{{ include('header.html') }}
<a href="/start">Back</a>
<div class="container">
    <h3>Log In</h3>
    <form method="post" action="/login">
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" name="submit">LOGIN</button>
    </form>

</div>

<style>

    .container{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    h3 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 20%;
    }

    input {
        margin-bottom: 5px;
    }

</style>