{{ include('header.html') }}
<div class="logout">
    <a href="/logout">Log Out</a>
</div>

<div class="container container-select">
    <form class="select-form" method="get" action="/dates">
        <h3>Select dates</h3>
        <p>See all available apartments on your travel dates.</p>
        <button>Select</button>
    </form>
    <form class="select-form" method="get" action="/index">
        <h3>See all apartments</h3>
        <p>Check out all apartments. Choose what you like</p>
        <button type="submit">Select</button>
    </form>
    <form class="select-form" method="get" action="/reservations">
        <h3>See your reservations</h3>
        <p>See all apartments you have booked</p>
        <button>Select</button>
    </form>
    <form class="select-form" method="get" action="create">
        <h3>Add your apartment</h3>
        <p>Become a host!</p>
        <button>Select</button>
    </form>

    <form class="select-form" method="get" action="/manage">
        <h3>Manage Your Apartments</h3>
        <p>Edit info / Remove</p>
        <button>Select</button>
    </form>
</div>


