{{ include('header.html') }}
<a class="back" href="/start">Back</a>
<div class="container">
    <h3>Sign Up</h3>
    <form method="post" action="/signup">

        <label>Name:</label>
        <input type="text" name="name" placeholder="Name" required>
        <label>Surname:</label>
        <input type="text" name="surname" placeholder="Surname" required>
        <label>Email:</label>
        <input type="email" name="email" placeholder="E-mail" required>
        <label>Password:</label>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" name="submit">SIGN UP</button>
    </form>
</div>

