{{ include('header.html') }}
<a href="/select">Back</a>
<h2>My Reservations:</h2>
<div class="container">

    {% for reservation in reservations %}
    <div class="box">

        <h3><a href="/index/{{ reservation.apartmentId }}">{{ reservation.apartmentName }}</a></h3>
        <p>{{ reservation.apartmentAddress}}</p>
        <p>{{ reservation.dateFrom}} / {{ reservation.dateTo }}</p>
        <p>Total: {{ reservation.totalPrice }} EUR</p>
        <div>

            <form method="get" action="/cancel/{{ reservation.apartmentId }}">
                <button type="submit" onclick="confirm('Are you sure?')">Cancel Reservation</button>
            </form>

        </div>

    </div>
    {% endfor %}
</div>


<style>

    h2 {
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .box {
        align-self: center;
        margin: 0px 15px 5px 15px;
        padding: 10px;
        border: 1px solid black;

    }


</style>