{{ include('header.html') }}
<div class="logout">
    <a href="/logout">Log Out</a>
</div>
<a class="back" href="/select">Back</a>
<h2>My Reservations:</h2>
<div class="container container-row">

    {% for reservation in reservations %}
    <div class="apartment-card">

        <h3><a href="/index/{{ reservation.apartmentId }}">{{ reservation.apartmentName }}</a></h3>
        <p>{{ reservation.apartmentAddress}}</p>
        <p>{{ reservation.dateFrom}} / {{ reservation.dateTo }}</p>
        <p>Total: {{ reservation.totalPrice }} EUR</p>
        <form class="just-button" method="get" action="/cancel/{{ reservation.apartmentId }}">
            <button type="submit" onclick="confirm('Are you sure?')">Cancel Reservation</button>
        </form>
    </div>
    {% endfor %}
</div>



