<div class="input-group date" data-provide="datepicker" id="datepicker">
    <label class="date-label">Check-in date: </label>
    <input type="text" class="form-control" name="selected_from">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>

</div>

<div class="input-group date" data-provide="datepicker" id="datepicker2">
    <label class="date-label">Check-in date: </label>
    <input type="text" class="form-control" name="selected_to">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>

</div>

