{{ include('header.html') }}
<a class="back" href="/index/{{ apartment.id }}">Back</a>
<div class="container">
    <h2>New reservation</h2>
    <h3>{{ apartment.name }}</h3>
    <h3>Price per night: {{ apartment.price }} EUR</h3>
    <p>{{ apartment.address }}</p>
    <form method="post" action="/validation/{{ apartment.id }}"
          style="display: flex; flex-direction: column; width:40%">
        {{ include('datepicker.html') }}
        <button type="submit" name="submit">ADD</button>
    </form>


</div>
{{ include('footer.html') }}

<script>
    let today = new Date();
    let tomorrow = new Date(today);
    tomorrow.setDate(tomorrow.getDate() + 1)
    let dd = String(today.getDate()).padStart(2, '0');
    let mm = String(today.getMonth() + 1).padStart(2, '0');
    let dd2 = String(tomorrow.getDate()).padStart(2, '0');
    let mm2 = String(tomorrow.getMonth() + 1).padStart(2, '0');
    let yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    tomorrow = yyyy + '-' + mm2 + '-' + dd2;

    document.getElementById("today").defaultValue = today;
    document.getElementById("tomorrow").defaultValue = tomorrow;
    document.getElementById("today").setAttribute("min", today);
    document.getElementById("tomorrow").setAttribute("min", tomorrow);

</script>
