{{ include('header.html') }}
<a href="/index/{{ apartment.id }}">Back</a>
<div class="container">
    <h2>New reservation</h2>
    <h3>{{ apartment.name }}</h3>
    <h3>Price per night: {{ apartment.price }} EUR</h3>
    <p>{{ apartment.address }}</p>
    <form method="post" action="/validation/{{ apartment.id }}" style="display: flex; flex-direction: column; width:40%">
        <label>Check-in date:</label>
        <input type="date" name="selected_from" id="today" min="today">
        <label>Check-out date:</label>
        <input type="date" name="selected_to" id="tomorrow" min="tomorrow">
        <button type="submit" name="submit">ADD</button>

    </form>

</div>

<script>
    let today = new Date();
    let tomorrow = new Date(today);
    tomorrow.setDate(tomorrow.getDate() + 1)
    let dd = String(today.getDate()).padStart(2, '0');
    let mm = String(today.getMonth() + 1).padStart(2, '0');
    let dd2 = String(tomorrow.getDate()).padStart(2, '0');
    let mm2 = String(tomorrow.getMonth() + 1).padStart(2, '0');
    let yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    tomorrow = yyyy + '-' + mm2 + '-' + dd2;

    document.getElementById("today").defaultValue = today;
    document.getElementById("tomorrow").defaultValue = tomorrow;
    document.getElementById("today").setAttribute("min", today);
    document.getElementById("tomorrow").setAttribute("min", tomorrow);

</script>

<style>
    .container{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    h2, h3, p {
        text-align: center;
        margin-top: 2px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 10%;
        text-align: center;
    }

    input {
        margin-bottom: 5px;
        width: 40%;
        align-self: center;
    }

    button {
        width: 30%;
        align-self: center;
    }
</style>