{{ include('header.html') }}
<a href="/select">Back</a>

<div class="container">
    <div class="image-large">image</div>
    <h3>{{ apartment.name }}</h3>
    <p class="description">{{ apartment.description }}</p>
    <h3>Price per night: {{ apartment.price }}€</h3>
    <form method="get" name="book" action="/book/{{ apartment.id }}"><button type="submit">BOOK</button></form>

    <div class="comments-container">
        {% for comment in comments %}
        <div class="comment">
            <p>{{ comment.userName }} {{ comment.userSurname }}</p>
            <p>{{ comment.comment }}</p>
            <small>{{ comment.createdAt }}</small>
        </div>
        {% endfor %}
    </div>

    <div class="comment comment-add">
        <form method="post" action="/comment/{{ apartment.id }}">
            <p>{{ name }} {{ surname }}:</p>
            <textarea name="comment"></textarea>
            <button type="submit">ADD</button>
        </form>
    </div>
</div>





<style>

    .container{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h3 {
        text-align: center;
        margin-bottom: 2px;
    }

    form {
        align-self: center;
    }

    .image-large {
        width: 380px;
        height: 200px;
        background-color: cornflowerblue;
        align-self: center;
    }

    .description {
        align-self: center;
        width: 70%;
    }

    .comments-container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 30%;
    }

    .comment {
        border: 1px solid orange;
        margin-bottom: 10px;
        padding: 10px;
    }

    .comment-add {
        width: 60%;
    }

    textarea {
        width: 80%;
    }




</style>